In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import spacy
from wordcloud import WordCloud

In [13]:
data = pd.read_csv('use_df2.csv')
df= data.copy()
df. head()

,Unnamed: 0,Title,Series or Movie_x,COUNTRY,Release Date_x,GENRE,VALUE,Genre,Tags,Languages,...,Rotten Tomatoes Score,Metacritic Score,Awards Received,Awards Nominated For,Boxoffice,Release Date_y,Netflix Release Date,Production House,Summary,IMDb Votes
0,0,The Queens Gambit,TV,United States,2020.10.23,Drama,44867,"Biography, Drama, History","TV Dramas,US TV Shows,TV Shows Based on Books,...","English, German, French",...,96.0,91.0,96.0,97.0,"$56,441,711",2006.11.17,2020.10.23,"Pathé Pictures, Scott Rudin Productions","In a 1950s orphanage, a young girl reveals an ...",104495.0
1,1,365 Days,Movie,Poland,2020.6.7,Romance,42149,"Drama, Romance","Polish Movies,Polish Dramas,Dramas,Romantic Dr...","Polish, English, Italian",...,NaN,NaN,NaN,NaN,NaN,2020.6.7,2020.4.2,NaN,A fiery executive in a spiritless relationship...,50125.0
2,2,Emily in Paris,TV,United States,2020.10.2,Drama,27138,"Comedy, Drama, Romance","Comedy Programmes,Drama Programmes,Romantic TV...","French, English",...,NaN,NaN,1.0,3.0,NaN,2020.10.2,2020.10.2,NaN,"After landing her dream job in Paris, Chicago ...",45000.0
3,3,Lucifer,TV,United States,2016.1.25,Superhero,25729,"Horror, Thriller","TV Dramas,Police TV Shows,TV Sci-Fi & Fantasy,...",English,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.7.24,NaN,"Bored with being the Lord of Hell, the devil r...",57.0
4,4,The Umbrella Academy,TV,United States,2019.2.15,Superhero,23480,"Action, Adventure, Comedy, Drama, Fantasy, Sci-Fi","TV Sci-Fi & Fantasy,US TV Shows,TV Action & Ad...",English,...,NaN,NaN,7.0,28.0,NaN,2019.2.15,2019.2.15,NaN,"Reunited by their fathers death, estranged sib...",159677.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913 entries, 0 to 2912
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             2913 non-null   int64
 1   Title                  2913 non-null   object
 2   Series or Movie_x      2913 non-null   object
 3   COUNTRY                2727 non-null   object
 4   Release Date_x         2851 non-null   object
 5   GENRE                  2549 non-null   object
 6   VALUE                  2913 non-null   int64
 7   Genre                  2824 non-null   object
 8   Tags                   2904 non-null   object
 9   Languages              2796 non-null   object
 10  Series or Movie_y      2913 non-null   object
 11  Hidden Gem Score       2786 non-null   float64
 12  Country Availability   2909 non-null   object
 13  Runtime                2913 non-null   object
 14  Director               2243 non-null   object
 15  Writer                 2441 non-null   object
 16  Actors                 2806 non-null   object
 17  View Rating            2261 non-null   object
 18  IMDb Score             2786 non-null   float64
 19  Rotten Tomatoes Score  1596 non-null   float64
 20  Metacritic Score       1475 non-null   float64
 21  Awards Received        1506 non-null   float64
 22  Awards Nominated For   1887 non-null   float64
 23  Boxoffice              1320 non-null   object
 24  Release Date_y         2786 non-null   object
 25  Netflix Release Date   2913 non-null   object
 26  Production House       1494 non-null   object
 27  Summary                2911 non-null   object
 28  IMDb Votes             2786 non-null   float64
dtypes: float64(7), int64(2), object(20)
memory usage: 660.1+ KB

In [15]:
df.isnull().sum()

Unnamed: 0                  0
Title                       0
Series or Movie_x           0
COUNTRY                   186
Release Date_x             62
GENRE                     364
VALUE                       0
Genre                      89
Tags                        9
Languages                 117
Series or Movie_y           0
Hidden Gem Score          127
Country Availability        4
Runtime                     0
Director                  670
Writer                    472
Actors                    107
View Rating               652
IMDb Score                127
Rotten Tomatoes Score    1317
Metacritic Score         1438
Awards Received          1407
Awards Nominated For     1026
Boxoffice                1593
Release Date_y            127
Netflix Release Date        0
Production House         1419
Summary                     2
IMDb Votes                127
dtype: int64

In [16]:
df = df.drop(columns = ['Rotten Tomatoes Score', 'Metacritic Score', 'Awards Received','Awards Nominated For','Boxoffice', 'Production House'])

In [17]:
df_country=df[['Title','VALUE', 'COUNTRY','GENRE', 'Country Availability','Languages']]

In [18]:
df_country.head(1)

,Title,VALUE,COUNTRY,GENRE,Country Availability,Languages
0,The Queens Gambit,44867,United States,Drama,"Lithuania,Canada,Australia,Poland,Mexico,Franc...","English, German, French"

In [19]:
#pd.get_dummies(df_country)

In [20]:
df_country.set_index('Title',inplace=True)

In [21]:
df_country.head(2)

,VALUE,COUNTRY,GENRE,Country Availability,Languages
Title,,,,,
The Queens Gambit,44867,United States,Drama,"Lithuania,Canada,Australia,Poland,Mexico,Franc...","English, German, French"
365 Days,42149,Poland,Romance,"Poland,Russia,United Kingdom,Slovakia,Canada,G...","Polish, English, Italian"

In [22]:
result1 = df_country['GENRE'].str.split(',')  # 리스트화
result1 = result1.apply(lambda x: pd.Series(x))
result1.stack()
result1.stack().reset_index(level=1, drop=True)

Title
The Queens Gambit                 Drama
365 Days                        Romance
Emily in Paris                    Drama
Lucifer                       Superhero
The Umbrella Academy          Superhero
                             ...
The Bourne Supremacy             Action
Just Friends                    Romance
Child 44                       Thriller
Dracula Untold                   Horror
Riddick                 Science Fiction
Length: 2549, dtype: object

In [23]:
result1 = result1.stack().reset_index(level=1, drop=True).to_frame('Genre_single')
result1

                         Genre_single
Title
The Queens Gambit               Drama
365 Days                      Romance
Emily in Paris                  Drama
Lucifer                     Superhero
The Umbrella Academy        Superhero
...                               ...
The Bourne Supremacy           Action
Just Friends                  Romance
Child 44                     Thriller
Dracula Untold                 Horror
Riddick               Science Fiction

[2549 rows x 1 columns]

In [24]:
rs = result1.reset_index()
rs.head(5)

                  Title Genre_single
0     The Queens Gambit        Drama
1              365 Days      Romance
2        Emily in Paris        Drama
3               Lucifer    Superhero
4  The Umbrella Academy    Superhero

In [25]:
df_country1=df_country.reset_index()

In [26]:
df_country1.head(1)

,Title,VALUE,COUNTRY,GENRE,Country Availability,Languages
0,The Queens Gambit,44867,United States,Drama,"Lithuania,Canada,Australia,Poland,Mexico,Franc...","English, German, French"

In [27]:
result2=pd.merge(df_country,result1, on = 'Title')

In [28]:
result2

,VALUE,COUNTRY,GENRE,Country Availability,Languages,Genre_single
Title,,,,,,
The Queens Gambit,44867,United States,Drama,"Lithuania,Canada,Australia,Poland,Mexico,Franc...","English, German, French",Drama
365 Days,42149,Poland,Romance,"Poland,Russia,United Kingdom,Slovakia,Canada,G...","Polish, English, Italian",Romance
Emily in Paris,27138,United States,Drama,"Canada,Lithuania,Australia,Poland,Mexico,Franc...","French, English",Drama
Lucifer,25729,United States,Superhero,"South Korea,Iceland,Hungary,Australia,Hong Kon...",English,Superhero
The Umbrella Academy,23480,United States,Superhero,"Lithuania,Brazil,Israel,Spain,Slovakia,United ...",English,Superhero
...,...,...,...,...,...,...
The Bourne Supremacy,1,United States,Action,"Japan,France,Russia,South Korea,Hungary,Belgiu...","English, Russian, German, Italian",Action
Just Friends,1,United States,Romance,"Romania,South Korea,United Kingdom,Canada,Czec...",English,Romance
Child 44,1,United States,Thriller,"Germany,India","English, Russian",Thriller
Dracula Untold,1,United States,Horror,"Switzerland,Canada,Poland,Italy,Greece,Czech R...","English, Turkish",Horror
Riddick,1,United States,Science Fiction,"Japan,United Kingdom,Mexico,Canada,Brazil,Aust...",English,Science Fiction

In [29]:
rs2_reset_index=result2.reset_index()

In [30]:
class_group=rs2_reset_index.groupby(['Genre_single','COUNTRY'])
class_group

In [31]:
rs2_reset_index

,Title,VALUE,COUNTRY,GENRE,Country Availability,Languages,Genre_single
0,The Queens Gambit,44867,United States,Drama,"Lithuania,Canada,Australia,Poland,Mexico,Franc...","English, German, French",Drama
1,365 Days,42149,Poland,Romance,"Poland,Russia,United Kingdom,Slovakia,Canada,G...","Polish, English, Italian",Romance
2,Emily in Paris,27138,United States,Drama,"Canada,Lithuania,Australia,Poland,Mexico,Franc...","French, English",Drama
3,Lucifer,25729,United States,Superhero,"South Korea,Iceland,Hungary,Australia,Hong Kon...",English,Superhero
4,The Umbrella Academy,23480,United States,Superhero,"Lithuania,Brazil,Israel,Spain,Slovakia,United ...",English,Superhero
...,...,...,...,...,...,...,...
3247,The Bourne Supremacy,1,United States,Action,"Japan,France,Russia,South Korea,Hungary,Belgiu...","English, Russian, German, Italian",Action
3248,Just Friends,1,United States,Romance,"Romania,South Korea,United Kingdom,Canada,Czec...",English,Romance
3249,Child 44,1,United States,Thriller,"Germany,India","English, Russian",Thriller
3250,Dracula Untold,1,United States,Horror,"Switzerland,Canada,Poland,Italy,Greece,Czech R...","English, Turkish",Horror
3251,Riddick,1,United States,Science Fiction,"Japan,United Kingdom,Mexico,Canada,Brazil,Aust...",English,Science Fiction

In [32]:
class_group.groups

{('Action', 'Angola'): [145], ('Action', 'Bulgaria'): [1496], ('Action', 'Canada'): [571, 572, 575, 576, 1143, 1215, 1494, 1960, 1998, 2009, 2219], ('Action', 'China'): [579, 580, 583, 584, 2896, 3224], ('Action', 'France'): [303, 554, 1741, 2008, 2010, 2087, 2248, 2390, 2396, 2551, 2552, 2553, 2554, 2649], ('Action', 'Hong-Kong'): [284, 565, 1339, 1664, 2831, 2834, 2988, 3162, 3163, 3164, 3165], ('Action', 'India'): [705, 1653, 1654, 1657, 1658, 1800, 2353, 3049, 3217], ('Action', 'Israel'): [803], ('Action', 'Japan'): [1073, 1827], ('Action', 'Malaysia'): [2155], ('Action', 'Mexico'): [192], ('Action', 'Nigeria'): [1466, 1467, 1470, 1471, 2496], ('Action', 'South Korea'): [1453, 1487, 1832, 1910, 2114, 2121, 3126], ('Action', 'Spain'): [2344], ('Action', 'Thailand'): [1314, 2286], ('Action', 'United Kingdom'): [724, 1307, 1419, 1601, 1645, 1646, 1649, 1650, 2280, 2544, 2786, 2952, 3077], ('Action', 'United States'): [25, 30, 31, 32, 33, 34, 35, 36, 37, 38, 98, 113, 115, 209, 216, 241, 267, 283, 307, 311, 312, 341, 364, 377, 410, 430, 458, 459, 460, 461, 471, 497, 498, 530, 559, 607, 631, 694, 704, 707, 723, 773, 774, 786, 800, 802, 815, 820, 830, 892, 909, 915, 935, 948, 952, 953, 979, 1063, 1086, 1148, 1149, 1151, 1152, 1158, 1183, 1200, 1210, 1224, 1278, 1313, 1317, 1321, 1350, 1414, 1428, 1433, 1434, 1435, 1436, 1465, 1474, 1475, 1478, 1479, 1495, 1507, 1638, 1663, 1704, 1705, 1708, 1709, 1712, 1713, 1716, 1717, 1750, 1751, 1752, 1753, ...], ('Action', nan): [1437, 1438, 1439, 1440], ('Adventure', 'Germany'): [2274, 2511], ('Adventure', 'India'): [2839], ('Adventure', 'Norway'): [2124], ('Adventure', 'Switzerland'): [2607], ('Adventure', 'United Kingdom'): [489, 490, 491, 492, 493, 494, 495, 496, 1359, 2288, 2328], ('Adventure', 'United States'): [127, 266, 288, 421, 481, 482, 483, 484, 485, 486, 487, 488, 538, 592, 596, 798, 934, 981, 1133, 1135, 1136, 1218, 1340, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1624, 1668, 1669, 1670, 1671, 1680, 1722, 1897, 1898, 1899, 1900, 2086, 2213, 2289, 2427, 2428, 2429, 2430, 2729, 2813, 2913, 2960, 3006, 3007, 3037, 3057, 3072, 3075, 3121, 3152, 3171, 3172, 3173, 3174, 3204], ('Animated', 'Canada'): [107, 569, 570, 573, 574, 1198, 1293, 1373, 1969, 2047, 2101, 2134, 2355], ('Animated', 'China'): [49, 577, 578, 581, 582, 2686], ('Animated', 'Denmark'): [1351], ('Animated', 'France'): [2242, 2528], ('Animated', 'Germany'): [191, 535, 1982], ('Animated', 'Japan'): [456, 932, 1349, 1511, 1636, 2183, 2404, 2534, 2548, 2565, 2609, 2760, 2791, 2885, 2886, 2887, 2888, 3118, 3216], ('Animated', 'Philippines'): [2317, 3177], ('Animated', 'Spain'): [903], ('Animated', 'United Kingdom'): [1155, 1586, 1685, 1989, 2196, 3005], ('Animated', 'United States'): [27, 105, 117, 143, 206, 212, 244, 245, 317, 334, 366, 368, 474, 505, 513, 529, 553, 645, 649, 721, 794, 832, 833, 834, 835, 836, 837, 838, 839, 840, 877, 910, 918, 930, 999, 1029, 1035, 1036, 1041, 1047, 1048, 1051, 1052, 1055, 1056, 1059, 1060, 1188, 1191, 1411, 1482, 1483, 1484, 1485, 1506, 1521, 1613, 1675, 1790, 1793, 1937, 1938, 1939, 1940, 1973, 1995, 2025, 2109, 2129, 2137, 2163, 2166, 2204, 2214, 2236, 2243, 2253, 2254, 2255, 2256, 2266, 2272, 2354, 2581, 2601, 2650, 2740, 2767, 2780, 2895, 2903, 2923, 2967, 2978, 3000, 3145, 3193], ('Animation', 'Australia'): [1370], ('Animation', 'Canada'): [2356, 2362, 3079], ('Animation', 'China'): [1295], ('Animation', 'Cyprus'): [2122], ('Animation', 'France'): [595, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2494], ('Animation', 'India'): [784], ('Animation', 'Japan'): [124, 425, 478, 510, 520, 609, 778, 809, 887, 1023, 1024, 1139, 1422, 1423, 1666, 1667, 1697, 1789, 2150, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2308, 2320, 2484, 2762, 3175, 3176, 3183, 3196, 3197, 3198, 3199, 3203, 3213], ('Animation', 'Saudi Arabia'): [3116], ('Animation', 'South Korea'): [2321], ('Animation', 'Turkey'): [980], ('Animation', 'United Kingdom'): [383, 768, 1796, 1971, 2258, 2637, 3089, 3095, 3096, 3097, 3098], ('Animation', 'United States'): [64, 73, 140, 148, 187, 199, 327, 343, 387, 388, 516, 594, 714, 799, 876, 1212, 1294, 1319, 1391, 1815, 1945, 1980, 2096, 2268, 2457, 2549, 2941, 3043, 3048, 3130, 3131, 3211], ('Biopic', 'Australia'): [2602], ('Biopic', 'Czech Republic'): [2487, 2849], ('Biopic', 'France'): [3148], ('Biopic', 'Ireland'): [2914], ('Biopic', 'South Africa'): [2318], ('Biopic', 'United Kingdom'): [769, 1142, 2185], ('Biopic', 'United States'): [639, 640, 641, 642, 656, 1131, 1630, 1985, 2118, 2123, 2273, 2350, 2468, 2533, 2586, 2828, 2950, 3004, 3100, 3108, 3179, 3186, 3237], ('Comedy', 'Argentina'): [907, 1348], ('Comedy', 'Australia'): [1454, 2227], ('Comedy', 'Brazil'): [229, 369, 444, 628, 1594, 2028, 3018], ('Comedy', 'Canada'): [9, 228, 522], ('Comedy', 'Chile'): [1322], ('Comedy', 'Colombia'): [1243, 1592, 1609, 1907, 3016], ('Comedy', 'Czech Republic'): [1031, 1297, 1363, 1823, 2105, 2190, 2364, 3056, 3099], ('Comedy', 'Denmark'): [1316, 2720], ('Comedy', 'Dominican Republic'): [1165], ('Comedy', 'Egypt'): [563, 1665, 1833, 2100, 2329, 3120, 3128], ('Comedy', 'France'): [97, 139, 528, 699, 1596, 1662, 1961, 2032, 2160, 2277, 2504, 2505, 2506, 2507, 2861], ('Comedy', 'Germany'): [194, 722, 904, 1235, 1282, 2239, 2495, 2648], ('Comedy', 'Hong-Kong'): [2625], ('Comedy', 'India'): [254, 255, 256, 257, 347, 420, 470, 831, 881, 1033, 1238, 1249, 1369, 1603, 1695, 1801, 1807, 2120, 2148, 2188, 2439, 2685, 2905, 2909, 3013], ('Comedy', 'Indonesia'): [2103, 2605, 2618, 3184], ('Comedy', 'Italy'): [218, 610, 875, 1975, 2278, 3124, 3190], ('Comedy', 'Japan'): [1042], ('Comedy', 'Kenya'): [1997], ('Comedy', 'Kuwait'): [2461], ('Comedy', 'Lebanon'): [540, 1184], ('Comedy', 'Luxembourg'): [2492], ('Comedy', 'Malaysia'): [1517], ('Comedy', 'Mexico'): [214, 419, 427, 1688, 2290], ('Comedy', 'Netherlands'): [1413, 1726], ('Comedy', 'Nigeria'): [864, 865, 868, 869, 1232, 1355, 1676, 1756, 2149], ('Comedy', 'Norway'): [240, 1635], ('Comedy', 'Peru'): [1500], ('Comedy', 'Philippines'): [1169, 1345, 1401, 1402, 1403, 1404, 1755, 2018, 2348, 2402, 2677, 3014], ('Comedy', 'Poland'): [790, 2228, 2490, 3127], ('Comedy', 'Portugal'): [2267], ('Comedy', 'Romania'): [818], ('Comedy', 'Singapore'): [1518, 3178], ('Comedy', 'Slovakia'): [598, 599, 600, 601], ('Comedy', 'South Africa'): [233, 1072], ('Comedy', 'South Korea'): [51, 52, 53, 54, 55, 56, 57, 58, 313, 337, 924, 1119, 1199, 1225, 1255, 1342, 1412, 1610, 1689, 2245, 2284, 2521, 2890, 3059, 3119, 3202], ('Comedy', 'Spain'): [2279, 2682], ('Comedy', 'Taiwan'): [2619], ('Comedy', 'Thailand'): [804, 1352, 1362, 1639, 1787], ('Comedy', 'Turkey'): [472, 646, 873, 1032, 1128, 1202, 1328, 1341, 1421, 1637, 1677, 1686, 2042, 2102, 2387, 2403, 2413, 2440, 2527, 3020], ('Comedy', 'United Kingdom'): [96, 147, 352, 360, 361, 362, 363, 500, 501, 502, 503, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 1512, 1608, 1681, 1731, 1936, 2006, 2394, 2663, 2707, 2708, 2709, 2710, 3012, 3191, 3218], ('Comedy', 'United States'): [7, 11, 40, 41, 50, 60, 61, 63, 65, 71, 74, 75, 77, 81, 95, 101, 106, 120, 126, 193, 196, 213, 230, 238, 242, 253, 271, 281, 282, 295, 305, 308, 314, 316, 320, 321, 322, 324, 342, 345, 357, 372, 373, 378, 379, 380, 381, 412, 415, 417, 443, 445, 449, 451, 452, 454, 462, 464, 465, 480, 506, 508, 519, 562, 568, 586, 602, 604, 606, 626, 627, 637, 643, 651, 652, 653, 654, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 715, 716, 767, 770, 776, ...], ('Comedy', 'Zimbabwe'): [3206], ('Comedy', nan): [2313, 2314, 2315, 2316, 3045], ('Concerts', 'United States'): [269], ('Concerts', 'Vietnam'): [1302], ('Crime', 'Argentina'): [301, 365], ('Crime', 'Australia'): [2187, 2207], ...}

In [33]:
class_group.count().head(30)

                             Title  VALUE  GENRE  Country Availability  \
Genre_single COUNTRY
Action       Angola              1      1      1                     1
             Bulgaria            1      1      1                     1
             Canada             11     11     11                    11
             China               6      6      6                     6
             France             14     14     14                    14
             Hong-Kong          11     11     11                    11
             India               9      9      9                     9
             Israel              1      1      1                     1
             Japan               2      2      2                     2
             Malaysia            1      1      1                     1
             Mexico              1      1      1                     1
             Nigeria             5      5      5                     5
             South Korea         7      7      7                     7
             Spain               1      1      1                     1
             Thailand            2      2      2                     2
             United Kingdom     13     13     13                    13
             United States     201    201    197                   201
Adventure    Germany             2      2      2                     2
             India               1      1      1                     1
             Norway              1      1      1                     1
             Switzerland         1      1      1                     1
             United Kingdom     11     11     11                    11
             United States      74     74     74                    74
Animated     Canada             13     13     13                    13
             China               6      6      6                     6
             Denmark             1      1      1                     1
             France              2      2      2                     2
             Germany             3      3      3                     3
             Japan              19     19     19                    19
             Philippines         2      2      2                     2

                             Languages
Genre_single COUNTRY
Action       Angola                  1
             Bulgaria                1
             Canada                 11
             China                   6
             France                 14
             Hong-Kong              11
             India                   9
             Israel                  1
             Japan                   1
             Malaysia                1
             Mexico                  1
             Nigeria                 5
             South Korea             7
             Spain                   1
             Thailand                2
             United Kingdom         13
             United States         200
Adventure    Germany                 2
             India                   1
             Norway                  1
             Switzerland             1
             United Kingdom         11
             United States          74
Animated     Canada                 12
             China                   6
             Denmark                 1
             France                  2
             Germany                 2
             Japan                  18
             Philippines             2

In [34]:
class_group.mean()

                                   VALUE
Genre_single COUNTRY
Action       Angola          3239.000000
             Bulgaria         128.000000
             Canada           306.000000
             China            245.166667
             France           201.071429
...                                  ...
War          United Kingdom   226.200000
             United States    720.461538
Western      Denmark           36.000000
             France            94.000000
             United States     54.692308

[310 rows x 1 columns]

In [35]:
#df_country.groupby(['COUNTRY','').mean()

In [36]:
class_group.mean().index

MultiIndex([(  'Action',         'Angola'),
            (  'Action',       'Bulgaria'),
            (  'Action',         'Canada'),
            (  'Action',          'China'),
            (  'Action',         'France'),
            (  'Action',      'Hong-Kong'),
            (  'Action',          'India'),
            (  'Action',         'Israel'),
            (  'Action',          'Japan'),
            (  'Action',       'Malaysia'),
            ...
            ('Thriller',  'United States'),
            (     'War',          'Egypt'),
            (     'War',        'Hungary'),
            (     'War',          'India'),
            (     'War',         'Israel'),
            (     'War', 'United Kingdom'),
            (     'War',  'United States'),
            ( 'Western',        'Denmark'),
            ( 'Western',         'France'),
            ( 'Western',  'United States')],
           names=['Genre_single', 'COUNTRY'], length=310)